<div>
  <hr />
  <h1>Snackbar</h1>
  <hr />
  <div id="components-snack-bar-demo-snack-bar-component-example">
    <h2>Snack-bar with a custom component</h2>
    <div className="code-box-demo">
      <snack-bar-component-example></snack-bar-component-example>
    </div>
  </div>
  <hr />
  <div id="components-snack-bar-demo-snack-bar-overview-example">
    <h2>Basic snack-bar</h2>
    <div className="code-box-demo">
      <snack-bar-overview-example></snack-bar-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-snack-bar-demo-snack-bar-position-example">
    <h2>Snack-bar with configurable position</h2>
    <div className="code-box-demo">
      <snack-bar-position-example></snack-bar-position-example>
    </div>
  </div>
  <hr />
</div>
