<div>
  <hr />
  <h1>Tabs</h1>
  <hr />
  <div id="components-tabs-demo-tab-group-align-example">
    <h2>Tab group with aligned labels</h2>
    <div className="code-box-demo">
      <tab-group-align-example></tab-group-align-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-animations-example">
    <h2>Tab group animations</h2>
    <div className="code-box-demo">
      <tab-group-animations-example></tab-group-animations-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-async-example">
    <h2>Tab group with asynchronously loading tab contents</h2>
    <div className="code-box-demo">
      <tab-group-async-example></tab-group-async-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-basic-example">
    <h2>Basic use of the tab group</h2>
    <div className="code-box-demo">
      <tab-group-basic-example></tab-group-basic-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-custom-label-example">
    <h2>Using tabs with a custom label template</h2>
    <div className="code-box-demo">
      <tab-group-custom-label-example></tab-group-custom-label-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-dynamic-height-example">
    <h2>Tab group with dynamic height based on tab contents</h2>
    <div className="code-box-demo">
      <tab-group-dynamic-height-example></tab-group-dynamic-height-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-dynamic-example">
    <h2>Tab group with dynamically changing tabs</h2>
    <div className="code-box-demo">
      <tab-group-dynamic-example></tab-group-dynamic-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-header-below-example">
    <h2>Tab group with the headers on the bottom</h2>
    <div className="code-box-demo">
      <tab-group-header-below-example></tab-group-header-below-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-lazy-loaded-example">
    <h2>Tab group where the tab content is loaded lazily (when activated)</h2>
    <div className="code-box-demo">
      <tab-group-lazy-loaded-example></tab-group-lazy-loaded-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-stretched-example">
    <h2>Tab group with stretched labels</h2>
    <div className="code-box-demo">
      <tab-group-stretched-example></tab-group-stretched-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-group-theme-example">
    <h2>Customizing the theme options on the tab group</h2>
    <div className="code-box-demo">
      <tab-group-theme-example></tab-group-theme-example>
    </div>
  </div>
  <hr />
  <div id="components-tabs-demo-tab-nav-bar-basic-example">
    <h2>Basic use of the tab nav bar</h2>
    <div className="code-box-demo">
      <tab-nav-bar-basic-example></tab-nav-bar-basic-example>
    </div>
  </div>
  <hr />
</div>
