<div>
  <h1>Material UI 11.x: Sidenav</h1>
  <hr />
  <div id="components-sidenav-demo-sidenav-autosize-example">
    <h2>Autosize sidenav</h2>
    <div className="code-box-demo">
      <sidenav-autosize-example></sidenav-autosize-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-backdrop-example">
    <h2>Drawer with explicit backdrop setting</h2>
    <div className="code-box-demo">
      <sidenav-backdrop-example></sidenav-backdrop-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-disable-close-example">
    <h2>Sidenav with custom escape and backdrop click behavior</h2>
    <div className="code-box-demo">
      <sidenav-disable-close-example></sidenav-disable-close-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-drawer-overview-example">
    <h2>Basic drawer</h2>
    <div className="code-box-demo">
      <sidenav-drawer-overview-example></sidenav-drawer-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-fixed-example">
    <h2>Fixed sidenav</h2>
    <div className="code-box-demo">
      <sidenav-fixed-example></sidenav-fixed-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-mode-example">
    <h2>Sidenav with configurable mode</h2>
    <div className="code-box-demo">
      <sidenav-mode-example></sidenav-mode-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-open-close-example">
    <h2>Sidenav open &#38; close behavior</h2>
    <div className="code-box-demo">
      <sidenav-open-close-example></sidenav-open-close-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-overview-example">
    <h2>Basic sidenav</h2>
    <div className="code-box-demo">
      <sidenav-overview-example></sidenav-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-position-example">
    <h2>Implicit main content with two sidenavs</h2>
    <div className="code-box-demo">
      <sidenav-position-example></sidenav-position-example>
    </div>
  </div>
  <hr />
  <div id="components-sidenav-demo-sidenav-responsive-example">
    <h2>Responsive sidenav</h2>
    <div className="code-box-demo">
      <sidenav-responsive-example></sidenav-responsive-example>
    </div>
  </div>
  <hr />
</div>
