<div>
  <h1>Material UI 11.x: Progress bar</h1>
  <hr />
  <div id="components-progress-bar-demo-progress-bar-buffer-example">
    <h2>Buffer progress-bar</h2>
    <div className="code-box-demo">
      <progress-bar-buffer-example></progress-bar-buffer-example>
    </div>
  </div>
  <hr />
  <div id="components-progress-bar-demo-progress-bar-configurable-example">
    <h2>Configurable progress-bar</h2>
    <div className="code-box-demo">
      <progress-bar-configurable-example></progress-bar-configurable-example>
    </div>
  </div>
  <hr />
  <div id="components-progress-bar-demo-progress-bar-determinate-example">
    <h2>Determinate progress-bar</h2>
    <div className="code-box-demo">
      <progress-bar-determinate-example></progress-bar-determinate-example>
    </div>
  </div>
  <hr />
  <div id="components-progress-bar-demo-progress-bar-indeterminate-example">
    <h2>Indeterminate progress-bar</h2>
    <div className="code-box-demo">
      <progress-bar-indeterminate-example></progress-bar-indeterminate-example>
    </div>
  </div>
  <hr />
  <div id="components-progress-bar-demo-progress-bar-query-example">
    <h2>Query progress-bar</h2>
    <div className="code-box-demo">
      <progress-bar-query-example></progress-bar-query-example>
    </div>
  </div>
  <hr />
</div>
