<div>
  <h1>Material UI 11.x: Paginator</h1>
  <hr />
  <div id="components-paginator-demo-paginator-configurable-example">
    <h2>Configurable paginator</h2>
    <div className="code-box-demo">
      <paginator-configurable-example></paginator-configurable-example>
    </div>
  </div>
  <hr />
  <div id="components-paginator-demo-paginator-overview-example">
    <h2>Paginator</h2>
    <div className="code-box-demo">
      <paginator-overview-example></paginator-overview-example>
    </div>
  </div>
  <hr />
</div>
