node_modules/
.DS_Store
dist/
build/

# editor config
.vscode/
.idea
*.iml
*.swp
*.swo

# istanbul
coverage

# Logs
logs
*.log
# eslint
.eslintcache

# next.js build output
.next

# nuxt.js build output
.nuxt
