<div>
  <hr />
  <h1>Autocomplete</h1>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-auto-active-first-option-example">
    <h2>Highlight the first autocomplete option</h2>
    <div className="code-box-demo">
      <autocomplete-auto-active-first-option-example></autocomplete-auto-active-first-option-example>
    </div>
  </div>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-display-example">
    <h2>Display value autocomplete</h2>
    <div className="code-box-demo">
      <autocomplete-display-example></autocomplete-display-example>
    </div>
  </div>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-filter-example">
    <h2>Filter autocomplete</h2>
    <div className="code-box-demo">
      <autocomplete-filter-example></autocomplete-filter-example>
    </div>
  </div>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-optgroup-example">
    <h2>Option groups autocomplete</h2>
    <div className="code-box-demo">
      <autocomplete-optgroup-example></autocomplete-optgroup-example>
    </div>
  </div>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-overview-example">
    <h2>Autocomplete overview</h2>
    <div className="code-box-demo">
      <autocomplete-overview-example></autocomplete-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-plain-input-example">
    <h2>Plain input autocomplete</h2>
    <div className="code-box-demo">
      <autocomplete-plain-input-example></autocomplete-plain-input-example>
    </div>
  </div>
  <hr />
  <div id="components-autocomplete-demo-autocomplete-simple-example">
    <h2>Simple autocomplete</h2>
    <div className="code-box-demo">
      <autocomplete-simple-example></autocomplete-simple-example>
    </div>
  </div>
  <hr />
</div>
