<div>
  <hr />
  <h1>Slide toggle</h1>
  <hr />
  <div id="components-slide-toggle-demo-slide-toggle-configurable-example">
    <h2>Configurable slide-toggle</h2>
    <div className="code-box-demo">
      <slide-toggle-configurable-example></slide-toggle-configurable-example>
    </div>
  </div>
  <hr />
  <div id="components-slide-toggle-demo-slide-toggle-forms-example">
    <h2>Slide-toggle with forms</h2>
    <div className="code-box-demo">
      <slide-toggle-forms-example></slide-toggle-forms-example>
    </div>
  </div>
  <hr />
  <div id="components-slide-toggle-demo-slide-toggle-overview-example">
    <h2>Basic slide-toggles</h2>
    <div className="code-box-demo">
      <slide-toggle-overview-example></slide-toggle-overview-example>
    </div>
  </div>
  <hr />
</div>
