<div>
  <hr />
  <h1>Progress spinner</h1>
  <hr />
  <div id="components-progress-spinner-demo-progress-spinner-configurable-example">
    <h2>Configurable progress spinner</h2>
    <div className="code-box-demo">
      <progress-spinner-configurable-example></progress-spinner-configurable-example>
    </div>
  </div>
  <hr />
  <div id="components-progress-spinner-demo-progress-spinner-overview-example">
    <h2>Basic progress-spinner</h2>
    <div className="code-box-demo">
      <progress-spinner-overview-example></progress-spinner-overview-example>
    </div>
  </div>
  <hr />
</div>
