<div>
  <h1>Material UI 11.x: Datepicker</h1>
  <hr />
  <div id="components-datepicker-demo-date-range-picker-comparison-example">
    <h2>Date range picker comparison ranges</h2>
    <div className="code-box-demo">
      <date-range-picker-comparison-example></date-range-picker-comparison-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-date-range-picker-forms-example">
    <h2>Date range picker forms integration</h2>
    <div className="code-box-demo">
      <date-range-picker-forms-example></date-range-picker-forms-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-date-range-picker-overview-example">
    <h2>Basic date range picker</h2>
    <div className="code-box-demo">
      <date-range-picker-overview-example></date-range-picker-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-date-range-picker-selection-strategy-example">
    <h2>Date range picker with custom a selection strategy</h2>
    <div className="code-box-demo">
      <date-range-picker-selection-strategy-example></date-range-picker-selection-strategy-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-actions-example">
    <h2>Datepicker action buttons</h2>
    <div className="code-box-demo">
      <datepicker-actions-example></datepicker-actions-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-api-example">
    <h2>Datepicker open method</h2>
    <div className="code-box-demo">
      <datepicker-api-example></datepicker-api-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-color-example">
    <h2>Datepicker palette colors</h2>
    <div className="code-box-demo">
      <datepicker-color-example></datepicker-color-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-custom-header-example">
    <h2>Datepicker with custom calendar header</h2>
    <div className="code-box-demo">
      <datepicker-custom-header-example></datepicker-custom-header-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-custom-icon-example">
    <h2>Datepicker with custom icon</h2>
    <div className="code-box-demo">
      <datepicker-custom-icon-example></datepicker-custom-icon-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-date-class-example">
    <h2>Datepicker with custom date classes</h2>
    <div className="code-box-demo">
      <datepicker-date-class-example></datepicker-date-class-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-disabled-example">
    <h2>Disabled datepicker</h2>
    <div className="code-box-demo">
      <datepicker-disabled-example></datepicker-disabled-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-events-example">
    <h2>Datepicker input and change events</h2>
    <div className="code-box-demo">
      <datepicker-events-example></datepicker-events-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-filter-example">
    <h2>Datepicker with filter validation</h2>
    <div className="code-box-demo">
      <datepicker-filter-example></datepicker-filter-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-formats-example">
    <h2>Datepicker with custom formats</h2>
    <div className="code-box-demo">
      <datepicker-formats-example></datepicker-formats-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-locale-example">
    <h2>Datepicker with different locale</h2>
    <div className="code-box-demo">
      <datepicker-locale-example></datepicker-locale-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-min-max-example">
    <h2>Datepicker with min &#38; max validation</h2>
    <div className="code-box-demo">
      <datepicker-min-max-example></datepicker-min-max-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-moment-example">
    <h2>Datepicker that uses Moment.js dates</h2>
    <div className="code-box-demo">
      <datepicker-moment-example></datepicker-moment-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-overview-example">
    <h2>Basic datepicker</h2>
    <div className="code-box-demo">
      <datepicker-overview-example></datepicker-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-start-view-example">
    <h2>Datepicker start date</h2>
    <div className="code-box-demo">
      <datepicker-start-view-example></datepicker-start-view-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-touch-example">
    <h2>Datepicker touch UI</h2>
    <div className="code-box-demo">
      <datepicker-touch-example></datepicker-touch-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-value-example">
    <h2>Datepicker selected value</h2>
    <div className="code-box-demo">
      <datepicker-value-example></datepicker-value-example>
    </div>
  </div>
  <hr />
  <div id="components-datepicker-demo-datepicker-views-selection-example">
    <h2>Datepicker emulating a Year and month picker</h2>
    <div className="code-box-demo">
      <datepicker-views-selection-example></datepicker-views-selection-example>
    </div>
  </div>
  <hr />
</div>
