<div>
  <h1>Material UI 11.x: List</h1>
  <hr />
  <div id="components-list-demo-list-overview-example">
    <h2>Basic list</h2>
    <div className="code-box-demo">
      <list-overview-example></list-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-list-demo-list-sections-example">
    <h2>List with sections</h2>
    <div className="code-box-demo">
      <list-sections-example></list-sections-example>
    </div>
  </div>
  <hr />
  <div id="components-list-demo-list-selection-example">
    <h2>List with selection</h2>
    <div className="code-box-demo">
      <list-selection-example></list-selection-example>
    </div>
  </div>
  <hr />
  <div id="components-list-demo-list-single-selection-example">
    <h2>List with single selection</h2>
    <div className="code-box-demo">
      <list-single-selection-example></list-single-selection-example>
    </div>
  </div>
  <hr />
</div>
