<div>
  <hr />
  <h1>Chips</h1>
  <hr />
  <div id="components-chips-demo-chips-autocomplete-example">
    <h2>Chips Autocomplete</h2>
    <div className="code-box-demo">
      <chips-autocomplete-example></chips-autocomplete-example>
    </div>
  </div>
  <hr />
  <div id="components-chips-demo-chips-drag-drop-example">
    <h2>Chips Drag and Drop</h2>
    <div className="code-box-demo">
      <chips-drag-drop-example></chips-drag-drop-example>
    </div>
  </div>
  <hr />
  <div id="components-chips-demo-chips-input-example">
    <h2>Chips with input</h2>
    <div className="code-box-demo">
      <chips-input-example></chips-input-example>
    </div>
  </div>
  <hr />
  <div id="components-chips-demo-chips-overview-example">
    <h2>Basic chips</h2>
    <div className="code-box-demo">
      <chips-overview-example></chips-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-chips-demo-chips-stacked-example">
    <h2>Stacked chips</h2>
    <div className="code-box-demo">
      <chips-stacked-example></chips-stacked-example>
    </div>
  </div>
  <hr />
</div>
