<div>
  <hr />
  <h1>Toolbar</h1>
  <hr />
  <div id="components-toolbar-demo-toolbar-basic-example">
    <h2>Basic toolbar</h2>
    <div className="code-box-demo">
      <toolbar-basic-example></toolbar-basic-example>
    </div>
  </div>
  <hr />
  <div id="components-toolbar-demo-toolbar-multirow-example">
    <h2>Multi-row toolbar</h2>
    <div className="code-box-demo">
      <toolbar-multirow-example></toolbar-multirow-example>
    </div>
  </div>
  <hr />
  <div id="components-toolbar-demo-toolbar-overview-example">
    <h2>Toolbar overview</h2>
    <div className="code-box-demo">
      <toolbar-overview-example></toolbar-overview-example>
    </div>
  </div>
  <hr />
</div>
