<div>
  <hr />
  <h1>Tooltip</h1>
  <hr />
  <div id="components-tooltip-demo-tooltip-auto-hide-example">
    <h2>Tooltip that demonstrates auto-hiding when it clips out of its scrolling container.</h2>
    <div className="code-box-demo">
      <tooltip-auto-hide-example></tooltip-auto-hide-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-custom-class-example">
    <h2>Tooltip that can have a custom class applied.</h2>
    <div className="code-box-demo">
      <tooltip-custom-class-example></tooltip-custom-class-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-delay-example">
    <h2>Tooltip with a show and hide delay</h2>
    <div className="code-box-demo">
      <tooltip-delay-example></tooltip-delay-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-disabled-example">
    <h2>Tooltip that can be disabled</h2>
    <div className="code-box-demo">
      <tooltip-disabled-example></tooltip-disabled-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-manual-example">
    <h2>Tooltip that can be manually shown/hidden.</h2>
    <div className="code-box-demo">
      <tooltip-manual-example></tooltip-manual-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-message-example">
    <h2>Tooltip with a changing message</h2>
    <div className="code-box-demo">
      <tooltip-message-example></tooltip-message-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-modified-defaults-example">
    <h2>Tooltip with a show and hide delay</h2>
    <div className="code-box-demo">
      <tooltip-modified-defaults-example></tooltip-modified-defaults-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-overview-example">
    <h2>Basic tooltip</h2>
    <div className="code-box-demo">
      <tooltip-overview-example></tooltip-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-tooltip-demo-tooltip-position-example">
    <h2>Tooltip with a custom position</h2>
    <div className="code-box-demo">
      <tooltip-position-example></tooltip-position-example>
    </div>
  </div>
  <hr />
</div>
