<div>
  <h1>Material UI 11.x: Dialog</h1>
  <hr />
  <div id="components-dialog-demo-dialog-content-example">
    <h2>Dialog with header, scrollable content and actions</h2>
    <div className="code-box-demo">
      <dialog-content-example></dialog-content-example>
    </div>
  </div>
  <hr />
  <div id="components-dialog-demo-dialog-data-example">
    <h2>Injecting data when opening a dialog</h2>
    <div className="code-box-demo">
      <dialog-data-example></dialog-data-example>
    </div>
  </div>
  <hr />
  <div id="components-dialog-demo-dialog-elements-example">
    <h2>Dialog elements</h2>
    <div className="code-box-demo">
      <dialog-elements-example></dialog-elements-example>
    </div>
  </div>
  <hr />
  <div id="components-dialog-demo-dialog-from-menu-example">
    <h2>Dialog launched from a menu</h2>
    <div className="code-box-demo">
      <dialog-from-menu-example></dialog-from-menu-example>
    </div>
  </div>
  <hr />
  <div id="components-dialog-demo-dialog-overview-example">
    <h2>Dialog Overview</h2>
    <div className="code-box-demo">
      <dialog-overview-example></dialog-overview-example>
    </div>
  </div>
  <hr />
</div>
