<div>
  <h1>Material UI 11.x: Expansion Panel</h1>
  <hr />
  <div id="components-expansion-demo-expansion-expand-collapse-all-example">
    <h2>Accordion with expand/collapse all toggles</h2>
    <div className="code-box-demo">
      <expansion-expand-collapse-all-example></expansion-expand-collapse-all-example>
    </div>
  </div>
  <hr />
  <div id="components-expansion-demo-expansion-overview-example">
    <h2>Basic expansion panel</h2>
    <div className="code-box-demo">
      <expansion-overview-example></expansion-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-expansion-demo-expansion-steps-example">
    <h2>Expansion panel as accordion</h2>
    <div className="code-box-demo">
      <expansion-steps-example></expansion-steps-example>
    </div>
  </div>
  <hr />
</div>
