<div>
  <hr />
  <h1>Menu</h1>
  <hr />
  <div id="components-menu-demo-menu-icons-example">
    <h2>Menu with icons</h2>
    <div className="code-box-demo">
      <menu-icons-example></menu-icons-example>
    </div>
  </div>
  <hr />
  <div id="components-menu-demo-menu-nested-example">
    <h2>Nested menu</h2>
    <div className="code-box-demo">
      <menu-nested-example></menu-nested-example>
    </div>
  </div>
  <hr />
  <div id="components-menu-demo-menu-overview-example">
    <h2>Basic menu</h2>
    <div className="code-box-demo">
      <menu-overview-example></menu-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-menu-demo-menu-position-example">
    <h2>Menu positioning</h2>
    <div className="code-box-demo">
      <menu-position-example></menu-position-example>
    </div>
  </div>
  <hr />
</div>
