<div>
  <hr />
  <h1>Tree</h1>
  <hr />
  <div id="components-tree-demo-tree-checklist-example">
    <h2>Tree with checkboxes</h2>
    <div className="code-box-demo">
      <tree-checklist-example></tree-checklist-example>
    </div>
  </div>
  <hr />
  <div id="components-tree-demo-tree-dynamic-example">
    <h2>Tree with dynamic data</h2>
    <div className="code-box-demo">
      <tree-dynamic-example></tree-dynamic-example>
    </div>
  </div>
  <hr />
  <div id="components-tree-demo-tree-flat-overview-example">
    <h2>Tree with flat nodes</h2>
    <div className="code-box-demo">
      <tree-flat-overview-example></tree-flat-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-tree-demo-tree-loadmore-example">
    <h2>Tree with partially loaded data</h2>
    <div className="code-box-demo">
      <tree-loadmore-example></tree-loadmore-example>
    </div>
  </div>
  <hr />
  <div id="components-tree-demo-tree-nested-overview-example">
    <h2>Tree with nested nodes</h2>
    <div className="code-box-demo">
      <tree-nested-overview-example></tree-nested-overview-example>
    </div>
  </div>
  <hr />
</div>
