<div>
  <h1>Material UI 11.x: Select</h1>
  <hr />
  <div id="components-select-demo-select-custom-trigger-example">
    <h2>Select with custom trigger text</h2>
    <div className="code-box-demo">
      <select-custom-trigger-example></select-custom-trigger-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-disabled-example">
    <h2>Disabled select</h2>
    <div className="code-box-demo">
      <select-disabled-example></select-disabled-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-error-state-matcher-example">
    <h2>Select with a custom ErrorStateMatcher</h2>
    <div className="code-box-demo">
      <select-error-state-matcher-example></select-error-state-matcher-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-form-example">
    <h2>Select in a form</h2>
    <div className="code-box-demo">
      <select-form-example></select-form-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-hint-error-example">
    <h2>Select with form field features</h2>
    <div className="code-box-demo">
      <select-hint-error-example></select-hint-error-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-initial-value-example">
    <h2>Basic select with initial value and no form</h2>
    <div className="code-box-demo">
      <select-initial-value-example></select-initial-value-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-multiple-example">
    <h2>Select with multiple selection</h2>
    <div className="code-box-demo">
      <select-multiple-example></select-multiple-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-no-ripple-example">
    <h2>Select with no option ripple</h2>
    <div className="code-box-demo">
      <select-no-ripple-example></select-no-ripple-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-optgroup-example">
    <h2>Select with option groups</h2>
    <div className="code-box-demo">
      <select-optgroup-example></select-optgroup-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-overview-example">
    <h2>Basic select</h2>
    <div className="code-box-demo">
      <select-overview-example></select-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-panel-class-example">
    <h2>Select with custom panel styling</h2>
    <div className="code-box-demo">
      <select-panel-class-example></select-panel-class-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-reactive-form-example">
    <h2>Select in a reactive form</h2>
    <div className="code-box-demo">
      <select-reactive-form-example></select-reactive-form-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-reset-example">
    <h2>Select with reset option</h2>
    <div className="code-box-demo">
      <select-reset-example></select-reset-example>
    </div>
  </div>
  <hr />
  <div id="components-select-demo-select-value-binding-example">
    <h2>Select with 2-way value binding</h2>
    <div className="code-box-demo">
      <select-value-binding-example></select-value-binding-example>
    </div>
  </div>
  <hr />
</div>
