<div>
  <hr />
  <h1>Button toggle</h1>
  <hr />
  <div id="components-button-toggle-demo-button-toggle-appearance-example">
    <h2>Button toggle appearance</h2>
    <div className="code-box-demo">
      <button-toggle-appearance-example></button-toggle-appearance-example>
    </div>
  </div>
  <hr />
  <div id="components-button-toggle-demo-button-toggle-exclusive-example">
    <h2>Exclusive selection</h2>
    <div className="code-box-demo">
      <button-toggle-exclusive-example></button-toggle-exclusive-example>
    </div>
  </div>
  <hr />
  <div id="components-button-toggle-demo-button-toggle-forms-example">
    <h2>Button-toggles with forms</h2>
    <div className="code-box-demo">
      <button-toggle-forms-example></button-toggle-forms-example>
    </div>
  </div>
  <hr />
  <div id="components-button-toggle-demo-button-toggle-overview-example">
    <h2>Basic button-toggles</h2>
    <div className="code-box-demo">
      <button-toggle-overview-example></button-toggle-overview-example>
    </div>
  </div>
  <hr />
</div>
