<div>
  <hr />
  <h1>Table</h1>
  <hr />
  <div id="components-table-demo-table-basic-example">
    <h2>Basic use of `&#60;table mat-table&#62;`</h2>
    <div className="code-box-demo">
      <table-basic-example></table-basic-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-dynamic-columns-example">
    <h2>Table dynamically changing the columns displayed</h2>
    <div className="code-box-demo">
      <table-dynamic-columns-example></table-dynamic-columns-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-expandable-rows-example">
    <h2>Table with expandable rows</h2>
    <div className="code-box-demo">
      <table-expandable-rows-example></table-expandable-rows-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-filtering-example">
    <h2>Table with filtering</h2>
    <div className="code-box-demo">
      <table-filtering-example></table-filtering-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-flex-basic-example">
    <h2>Basic use of `&#60;mat-table&#62;` (uses display flex)</h2>
    <div className="code-box-demo">
      <table-flex-basic-example></table-flex-basic-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-footer-row-example">
    <h2>Footer row table</h2>
    <div className="code-box-demo">
      <table-footer-row-example></table-footer-row-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-http-example">
    <h2>Table retrieving data through HTTP</h2>
    <div className="code-box-demo">
      <table-http-example></table-http-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-multiple-header-footer-example">
    <h2>Table with multiple header and footer rows</h2>
    <div className="code-box-demo">
      <table-multiple-header-footer-example></table-multiple-header-footer-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-overview-example">
    <h2>Data table with sorting, pagination, and filtering.</h2>
    <div className="code-box-demo">
      <table-overview-example></table-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-pagination-example">
    <h2>Table with pagination</h2>
    <div className="code-box-demo">
      <table-pagination-example></table-pagination-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-reorderable-example">
    <h2>Table with re-orderable columns</h2>
    <div className="code-box-demo">
      <table-reorderable-example></table-reorderable-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-row-context-example">
    <h2>Table showing each row context properties.</h2>
    <div className="code-box-demo">
      <table-row-context-example></table-row-context-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-selection-example">
    <h2>Table with selection</h2>
    <div className="code-box-demo">
      <table-selection-example></table-selection-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-sorting-example">
    <h2>Table with sorting</h2>
    <div className="code-box-demo">
      <table-sorting-example></table-sorting-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-sticky-columns-example">
    <h2>Table with sticky columns</h2>
    <div className="code-box-demo">
      <table-sticky-columns-example></table-sticky-columns-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-sticky-complex-flex-example">
    <h2>Flex-layout tables with toggle-able sticky headers, footers, and columns</h2>
    <div className="code-box-demo">
      <table-sticky-complex-flex-example></table-sticky-complex-flex-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-sticky-complex-example">
    <h2>Tables with toggle-able sticky headers, footers, and columns</h2>
    <div className="code-box-demo">
      <table-sticky-complex-example></table-sticky-complex-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-sticky-footer-example">
    <h2>Table with a sticky footer</h2>
    <div className="code-box-demo">
      <table-sticky-footer-example></table-sticky-footer-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-sticky-header-example">
    <h2>Table with sticky header</h2>
    <div className="code-box-demo">
      <table-sticky-header-example></table-sticky-header-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-text-column-advanced-example">
    <h2>Use of 'mat-text-column' with various configurations of the interface.</h2>
    <div className="code-box-demo">
      <table-text-column-advanced-example></table-text-column-advanced-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-text-column-example">
    <h2>Use of `mat-text-column` which can be used for simple columns that only need to display a text value for the header and cells.</h2>
    <div className="code-box-demo">
      <table-text-column-example></table-text-column-example>
    </div>
  </div>
  <hr />
  <div id="components-table-demo-table-wrapped-example">
    <h2>Table example that shows how to wrap a table component for definition and behavior reuse.</h2>
    <div className="code-box-demo">
      <table-wrapped-example></table-wrapped-example>
    </div>
  </div>
  <hr />
</div>
