<div>
  <h1>Material UI 11.x: Checkbox</h1>
  <hr />
  <div id="components-checkbox-demo-checkbox-configurable-example">
    <h2>Configurable checkbox</h2>
    <div className="code-box-demo">
      <checkbox-configurable-example></checkbox-configurable-example>
    </div>
  </div>
  <hr />
  <div id="components-checkbox-demo-checkbox-overview-example">
    <h2>Basic checkboxes</h2>
    <div className="code-box-demo">
      <checkbox-overview-example></checkbox-overview-example>
    </div>
  </div>
  <hr />
</div>
