.page2Container {
  min-height: 100vh;
  padding: 20px;
  height: 100vh;
}

.childNextjs11TestBtn {
  height: 40px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 auto;
  user-select: none;
}
