<div>
  <hr />
  <h1>Stepper</h1>
  <hr />
  <div id="components-stepper-demo-stepper-editable-example">
    <h2>Stepper with editable steps</h2>
    <div className="code-box-demo">
      <stepper-editable-example></stepper-editable-example>
    </div>
  </div>
  <hr />
  <div id="components-stepper-demo-stepper-errors-example">
    <h2>Stepper that displays errors in the steps</h2>
    <div className="code-box-demo">
      <stepper-errors-example></stepper-errors-example>
    </div>
  </div>
  <hr />
  <div id="components-stepper-demo-stepper-label-position-bottom-example">
    <h2>Stepper label bottom position</h2>
    <div className="code-box-demo">
      <stepper-label-position-bottom-example></stepper-label-position-bottom-example>
    </div>
  </div>
  <hr />
  <div id="components-stepper-demo-stepper-optional-example">
    <h2>Stepper with optional steps</h2>
    <div className="code-box-demo">
      <stepper-optional-example></stepper-optional-example>
    </div>
  </div>
  <hr />
  <div id="components-stepper-demo-stepper-overview-example">
    <h2>Stepper overview</h2>
    <div className="code-box-demo">
      <stepper-overview-example></stepper-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-stepper-demo-stepper-states-example">
    <h2>Stepper with customized states</h2>
    <div className="code-box-demo">
      <stepper-states-example></stepper-states-example>
    </div>
  </div>
  <hr />
  <div id="components-stepper-demo-stepper-vertical-example">
    <h2>Stepper vertical</h2>
    <div className="code-box-demo">
      <stepper-vertical-example></stepper-vertical-example>
    </div>
  </div>
  <hr />
</div>
