body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#react16-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#public-links {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0;
  border-bottom: 1px solid #f0f0f0;
}

#react16-root > :not(#public-links) {
  flex: 1 1 auto;
  overflow-y: auto;
}
