<div>
  <h1>child-angular11-material-11</h1>
  <app-material-component-demo-autocomplete></app-material-component-demo-autocomplete>
  <app-material-component-demo-badge></app-material-component-demo-badge>
  <app-material-component-demo-bottom-sheet></app-material-component-demo-bottom-sheet>
  <app-material-component-demo-button></app-material-component-demo-button>
  <app-material-component-demo-button-toggle></app-material-component-demo-button-toggle>
  <app-material-component-demo-card></app-material-component-demo-card>
  <app-material-component-demo-checkbox></app-material-component-demo-checkbox>
  <app-material-component-demo-chips></app-material-component-demo-chips>
  <app-material-component-demo-datepicker></app-material-component-demo-datepicker>
  <app-material-component-demo-dialog></app-material-component-demo-dialog>
  <app-material-component-demo-divider></app-material-component-demo-divider>
  <app-material-component-demo-expansion></app-material-component-demo-expansion>
  <app-material-component-demo-form-field></app-material-component-demo-form-field>
  <app-material-component-demo-grid-list></app-material-component-demo-grid-list>
  <app-material-component-demo-icon></app-material-component-demo-icon>
  <app-material-component-demo-input></app-material-component-demo-input>
  <app-material-component-demo-list></app-material-component-demo-list>
  <app-material-component-demo-menu></app-material-component-demo-menu>
  <app-material-component-demo-paginator></app-material-component-demo-paginator>
  <app-material-component-demo-progress-bar></app-material-component-demo-progress-bar>
  <app-material-component-demo-progress-spinner></app-material-component-demo-progress-spinner>
  <app-material-component-demo-radio></app-material-component-demo-radio>
  <app-material-component-demo-ripple></app-material-component-demo-ripple>
  <app-material-component-demo-select></app-material-component-demo-select>
  <app-material-component-demo-sidenav></app-material-component-demo-sidenav>
</div>
