<div>
  <hr />
  <h1>Slider</h1>
  <hr />
  <div id="components-slider-demo-slider-configurable-example">
    <h2>Configurable slider</h2>
    <div className="code-box-demo">
      <slider-configurable-example></slider-configurable-example>
    </div>
  </div>
  <hr />
  <div id="components-slider-demo-slider-formatting-example">
    <h2>Slider with custom thumb label formatting.</h2>
    <div className="code-box-demo">
      <slider-formatting-example></slider-formatting-example>
    </div>
  </div>
  <hr />
  <div id="components-slider-demo-slider-overview-example">
    <h2>Basic slider</h2>
    <div className="code-box-demo">
      <slider-overview-example></slider-overview-example>
    </div>
  </div>
  <hr />
</div>
