<div>
  <h1>Material UI 11.x: Input</h1>
  <hr />
  <div id="components-input-demo-input-clearable-example">
    <h2>Input with a clear button</h2>
    <div className="code-box-demo">
      <input-clearable-example></input-clearable-example>
    </div>
  </div>
  <hr />
  <div id="components-input-demo-input-error-state-matcher-example">
    <h2>Input with a custom ErrorStateMatcher</h2>
    <div className="code-box-demo">
      <input-error-state-matcher-example></input-error-state-matcher-example>
    </div>
  </div>
  <hr />
  <div id="components-input-demo-input-errors-example">
    <h2>Input with error messages</h2>
    <div className="code-box-demo">
      <input-errors-example></input-errors-example>
    </div>
  </div>
  <hr />
  <div id="components-input-demo-input-form-example">
    <h2>Inputs in a form</h2>
    <div className="code-box-demo">
      <input-form-example></input-form-example>
    </div>
  </div>
  <hr />
  <div id="components-input-demo-input-hint-example">
    <h2>Input with hints</h2>
    <div className="code-box-demo">
      <input-hint-example></input-hint-example>
    </div>
  </div>
  <hr />
  <div id="components-input-demo-input-overview-example">
    <h2>Basic Inputs</h2>
    <div className="code-box-demo">
      <input-overview-example></input-overview-example>
    </div>
  </div>
  <hr />
  <div id="components-input-demo-input-prefix-suffix-example">
    <h2>Inputs with prefixes and suffixes</h2>
    <div className="code-box-demo">
      <input-prefix-suffix-example></input-prefix-suffix-example>
    </div>
  </div>
  <hr />
</div>
